<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">


</head>
<body style="background-color: #1BBC9B;">



    <div class="container">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3" style="background-color: #EEEEEE; padding: 10px; margin-top:30px;">
            <h1>Login to my Store!</h1>
            <form id="login_form" method="post" action="/login/">
                {% csrf_token %}
                <label for="inputUsername">Username</label>
                <input type="username" id="inputUsername" class="form-control"  placeholder="Username" required="" name="username" value="" size="50" />
                <br />
                <label for="inputPassword">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" name="password" value="" size="50" />
                <br />
                <input type="submit" class="btn btn-lg btn-primary btn-block" value="Login" />
            </form>
        </div>
    </div>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
</body>
</html>